<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Explorer</title>
    <!-- Bootstrap CSS -->
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <style>
      .file-text,
      .file-icon {
        color: #009900; /* Change the color for files as desired */
      }

      .folder-text,
      .folder-icon {
        color: #0066ff; /* Change the color for folders as desired */
      }
      .folder-name {
        text-decoration: none;
      }
      .folder-name:hover {
        text-decoration: none;
      }
      
    </style>
</head>

<body>
    <div class="container mt-4">
        <h1 class="mb-4">File Explorer</h1>
        <div id="file-explorer"></div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            let jsonData = JSON.parse('{{ file_structure | safe }}');

            // function buildFileExplorer(jsonObject, parentId = '', depth = 0) {
            //     let html = `<ul class="list-group">`;

            //     if (jsonObject.content) {
            //         jsonObject.content.forEach(item => {
            //             let itemId = parentId + '-' + item.path.replace(/\//g, '-').substring(1);
            //             let itemPath = item.path;

            //             if (item.type === "file") {
            //                 html += `<li class="list-group-item file">
            //                             <a class="file-name d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#${itemId}" role="button" aria-expanded="false" aria-controls="${itemId}">
            //                                 <span class="file-text"><i class="fas fa-file file-icon me-1"></i>${itemPath.split('/').pop()}</span>
            //                                 <span><i class="fas fa-download me-2 file-icon" onclick="downloadFile('${itemPath}')"></i></span>
            //                             </a>
            //                             <div class="collapse" id="${itemId}">
            //                                 <ul class="list-group">
            //                                     ${item.partitions.map(partition => `<li class="list-group-item">${partition}</li>`).join('')}
            //                                 </ul>
            //                             </div>
            //                         </li>`;
            //             } else if (item.type === "directory") {
            //                 html += `<li class="list-group-item folder">
            //                             <a class="folder-name d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#${itemId}" role="button" aria-expanded="false" aria-controls="${itemId}">
            //                                 <span class="folder-text"><i class="fas fa-folder folder-icon me-1"></i>${itemPath.split('/').pop()}</span>
            //                                 <span>
            //                                     <i class="fas fa-plus-circle me-2 folder-icon" onclick="createFile('${itemPath}')"></i>
            //                                 </span>
            //                             </a>
            //                             <div class="collapse" id="${itemId}" data-bs-parent="${depth === 0 ? '#file-explorer' : ''}">
            //                                 ${buildFileExplorer(item, itemId, depth + 1)}
            //                             </div>
            //                         </li>`;
            //             }
            //         });
            //     }

            //     html += '</ul>';
            //     return html;
            // }

            // function buildFileExplorer(jsonObject, parentId = '', depth = 0) {
            //     let html = `<ul class="list-group">`;

            //     if (jsonObject.content) {
            //         jsonObject.content.forEach(item => {
            //             let itemId = parentId + '-' + item.path.replace(/\//g, '-').substring(1);
            //             let itemPath = item.path;

            //             if (item.type === "file") {
            //                 html += `<li class="list-group-item">
            //                             <a class="file-text d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#${itemId}" role="button" aria-expanded="false" aria-controls="${itemId}">
            //                                 <span><i class="fas fa-file file-icon me-1"></i>${itemPath.split('/').pop()}</span>
            //                             </a>
            //                             <div class="collapse" id="${itemId}" data-bs-parent="${depth === 0 ? '#file-explorer' : ''}">
            //                                 <ul class="list-group">
            //                                   ${item.partitions.map((partition, index) => {
            //                                     return `<li class="list-group-item">
            //                                               <span>Partition ${index + 1}: ${partition.join(', ')}</span>
            //                                             </li>`;
            //                                   }).join('')}
            //                                 </ul>
            //                             </div>
            //                         </li>`;
            //             } else if (item.type === "directory") {
            //                 html += `<li class="list-group-item folder">
            //                             <a class="folder-name d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#${itemId}" role="button" aria-expanded="false" aria-controls="${itemId}">
            //                                 <span class="folder-text"><i class="fas fa-folder folder-icon me-1"></i>${itemPath.split('/').pop()}</span>
            //                                 <span>
            //                                     <i class="fas fa-plus-circle me-2 folder-icon" onclick="createFile('${itemPath}')"></i>
            //                                 </span>
            //                             </a>
            //                             <div class="collapse" id="${itemId}" data-bs-parent="${depth === 0 ? '#file-explorer' : ''}">
            //                                 ${buildFileExplorer(item, itemId, depth + 1)}
            //                             </div>
            //                         </li>`;
            //             }
            //         });
            //     }

            //     html += '</ul>';
            //     return html;
            // }

            function buildFileExplorer(jsonObject, parentId = '', depth = 0) {
                let html = `<ul class="list-group">`;

                if (jsonObject.content) {
                    jsonObject.content.forEach(item => {
                        let itemId = parentId + '-' + item.path.replace(/\//g, '-').substring(1);
                        let itemPath = item.path;

                        if (item.type === "file") {
                            html += `<li class="list-group-item">
                                        <a class="file-text d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#${itemId}" role="button" aria-expanded="false" aria-controls="${itemId}">
                                            <span><i class="fas fa-file file-icon me-1"></i>${itemPath.split('/').pop()}</span>
                                        </a>
                                        <div class="collapse" id="${itemId}" data-bs-parent="${depth === 0 ? '#file-explorer' : ''}">
                                            <ul class="list-group">
                                              ${item.partitions.map((partition, index) => {
                                                const partitionId = `${itemId}-partition-${index + 1}`;
                                                return `<li class="list-group-item">
                                                          <a class="partition-name d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#${partitionId}" role="button" aria-expanded="false" aria-controls="${partitionId}">
                                                            <span>Partition ${index + 1}</span>
                                                          </a>
                                                          <div class="collapse" id="${partitionId}" data-bs-parent="#${itemId}">
                                                            <ul class="list-group">
                                                              ${partition.map((replica, replicaIndex) => {
                                                                return `<li class="list-group-item">
                                                                          <span>Replica ${replicaIndex + 1}: ${replica}</span>
                                                                        </li>`;
                                                              }).join('')}
                                                            </ul>
                                                          </div>
                                                        </li>`;
                                              }).join('')}
                                            </ul>
                                        </div>
                                    </li>`;
                        } else if (item.type === "directory") {
                            html += `<li class="list-group-item folder">
                                        <a class="folder-name d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#${itemId}" role="button" aria-expanded="false" aria-controls="${itemId}">
                                            <span class="folder-text"><i class="fas fa-folder folder-icon me-1"></i>${itemPath.split('/').pop()}</span>
                                            <span>
                                                <i class="fas fa-plus-circle me-2 folder-icon" onclick="createFile('${itemPath}')"></i>
                                            </span>
                                        </a>
                                        <div class="collapse" id="${itemId}" data-bs-parent="${depth === 0 ? '#file-explorer' : ''}">
                                            ${buildFileExplorer(item, itemId, depth + 1)}
                                        </div>
                                    </li>`;
                        }
                    });
                }

                html += '</ul>';
                return html;
            }



            
            function toggleFolder(folderNameElement) {
                let folderListItem = folderNameElement.parentElement;
                let folderContentElement = folderListItem.querySelector('ul');

                if (folderContentElement.style.display === "none" || folderContentElement.style.display === "") {
                    folderContentElement.style.display = "block";
                } else {
                    folderContentElement.style.display = "none";
                }
            }



            function createFile(path) {
                // Make an AJAX request to create a file in the given path and update the JSON data.
                // Replace the URL with the appropriate endpoint in your Flask application.
                $.post("/create-file", { "path": path })
                    .done(function(data) {
                        // Update the file explorer with the updated JSON data.
                        let fileExplorer = buildFileExplorer("/", data);
                        $("#file-explorer").html(fileExplorer);
                    });
            }

            function downloadFile(path) {
                // Replace the URL with the appropriate endpoint in your Flask application.
                window.location.href = "/download-file?path=" + encodeURIComponent(path);
            }
                    // Build the file explorer.
            let fileExplorer = buildFileExplorer(jsonData);
            // document.getElementById('file-explorer').innerHTML = jsonData;
            $("#file-explorer").html(fileExplorer);

        });

        // $("#file-explorer").html(fileExplorer);

    </script>
</body>
</html>
